body{
    color: white;
    font-family: Arial;
    background-color: black;
}
h1{
    color: grey;
    font-family: Verdana;
}
.maindiv{
    color: black;
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
}
.center{
    margin: 0 90px;
}